{
	"plugins": [
		"dynamic-import-node",
		[
			"@babel/plugin-proposal-decorators",
			{
				"legacy": true
			}
		],
		[
			"babel-plugin-inline-import",
			{
				"extensions": [
					".bib"
				]
			}
		]
	],
	"presets": [
		[
			"@babel/preset-env"
		],
		"@babel/preset-react"
	]
}