{
  "parser": "@typescript-eslint/parser",
  "extends": "next/core-web-vitals",
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "rules": {
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": true
      }
    ],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error"
    ]
  }
}